<a href="https://colab.research.google.com/github/zahid-bracu/problem-solving-in-python/blob/main/arrays_problem_solving_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a python program to read and print elements of array.(1)
array=[11,22,33,44,55,66,77,88]
for i in array:
  print(i)

11
22
33
44
55
66
77
88

In [ ]:
#Write a python program to print all negative elements in an array.(2)
array=[11,-22,33,-44,55,-66,77,88]
for i in array:
  if(i<0):
    print(i)

-22
-44
-66

In [ ]:
#Write a python program to find sum of all array elements.(3)
array=[11,22,33,44,55,66,77,88]
sum=0
for i in array:
  sum+=i
print(sum)

396

In [ ]:
#Write a python program to find maximum and minimum element in an array.(4)
array=[11,22,33,44,55,66,77,88]
max=array[0]
min=array[0]
for i in array:
  if(i>max):
    max=i;
  elif(i<min):
    min=i;
print(max)
print(min)

88
11

In [ ]:
#Write a python program to search an element in an array.(5)
array=[11,22,33,44,55,66,77,88]
search=44
index=-1
for i in array:
  if(i==search):
    index=i
if(index<0):
  print("Not Found")
else:
  print("Found at Index "+str(index))

Found at Index 44

In [ ]:
#Write a python program to find second largest element in an array.(6)
array=[11,22,33,44,55,66,77,88]
max=array[0]
secondMax=array[0]
for i in array:
  if(i>max):
    max=i;

for i in array:
  if(i<max and i>secondMax):
    secondMax=i

print(secondMax)

77

In [ ]:
#Write a python program to count total number of even and odd elements in an array.(7)
array=[11,22,33,44,55,66,77,88]
odd=0;
even=0;
for i in array:
  if(i%2==0):
    odd=odd+1
  else:
    even=even+1
print("Odd Count "+str(odd))
print("Even Count "+str(even))

Odd Count 4
Even Count 4

In [ ]:
#Write a python program to copy all elements from an array to another array. (8)
array=[11,22,33,44,55,66,77,88,99]
count=0

for i in array:
  count=count+1

copyArray=[None]*count

for i in range(0,count-1):
  copyArray[i]=array[i]

for i in copyArray:
  print(i)

11
22
33
44
55
66
77
88
None

In [ ]:
#Write a python program to insert an element in an array. (9)
value=44
position=3
array=[11,22,33,55,66,77,88,99,None,None]
count=0
for i in array:
  if(i==None):
    break
  count=count+1
j=count-1
while(j>=position):
  array[j+1]=array[j]
  j=j-1
array[position]=value
print(array)

[11, 22, 33, 44, 55, 66, 77, 88, 99, None]

In [ ]:
#Write a python program to delete an element from an array at specified position. (10)
position=3
array=[11,22,33,44,55,66,77,88,99]
for i in range(position,len(array)-1):
  array[i]=array[i+1]

array[len(array)-1]=None
print(array)

[11, 22, 33, 55, 66, 77, 88, 99, None]

In [ ]:
#Write a python program to count frequency of each element in an array. (11)
array=[1,2,3,1,4,9,6,7,4,3,5,2,5,7,9]
frequency=[0,0,0,0,0,0,0,0,0,0]
for i in range(0,len(array)):
  frequency[array[i]]=frequency[array[i]]+1

for i in range(0,len(frequency)):
  print(str(i)+ " is presented "+str(frequency[i])+" Times")

0 is presented 0 Times
1 is presented 2 Times
2 is presented 2 Times
3 is presented 2 Times
4 is presented 2 Times
5 is presented 2 Times
6 is presented 1 Times
7 is presented 2 Times
8 is presented 0 Times
9 is presented 2 Times

In [ ]:
#Write a python program to print all unique elements in the array.(12)
array=[1,2,3,1,4,9,6,11,7,4,3,11,5,2,5,7,9]
for i in range(0,len(array)):
  flag=True
  for j in range(i+1,len(array)):
    if(array[i]==array[j]):
      flag=False
  if(flag==True):
    print(array[i])

1
6
4
3
11
2
5
7
9

In [ ]:
#Write a Python program to count total number of duplicate elements in an array.(13)
array=[1,2,3,1,4,9,6,11,7,4,3,11,5,2,5,7,9]
count=0
for i in range(0,len(array)):
  flag=True
  for j in range(i+1,len(array)):
    if(array[i]==array[j]):
      count=count+1
print("Total Number of Duplicate Number : "+str(count));

Total Number of Duplicate Number : 8

In [ ]:
#Write a Python program to delete all duplicate elements from an array.(14)
array=[1,2,3,1,4,9,6,11,7,4,3,11,5,2,5,7,9]
count=0
for i in range(0,len(array)):
  flag=True
  for j in range(i+1,len(array)):
    if(array[i]==array[j]):
      flag=False
  if(flag==True):
    count=count+1
newArray=[None] * count
c=0
for i in range(0,len(array)):
  flag=True
  for j in range(i+1,len(array)):
    if(array[i]==array[j]):
      flag=False
  if(flag==True):
    newArray[c]=array[i]
    c=c+1
print(newArray)

[1, 6, 4, 3, 11, 2, 5, 7, 9]

In [ ]:
#Write a python program to merge two array to third array.(15)
arrayOne=[1,2,3,4,5]
arrayTwo=[6,7,8,9,10]
size=len(arrayOne)+len(arrayTwo);
newArray=[None]*size
for i in range(0,len(arrayOne)):
  newArray[i]=arrayOne[i];
x=len(arrayOne)
for i in range(0,len(arrayTwo)):
  newArray[x]=arrayTwo[i]
  x=x+1
print(newArray)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
#Write a python program to find reverse of an array.
array=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(len(array)-1,-1,-1):
  print(array[i])

10
9
8
7
6
5
4
3
2
1

In [16]:
#Write a C program to put even and odd elements of array in two separate array.
array=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
oc=0
ec=0
for i in array:
  if(i%2==0):
    ec=ec+1
  else:
    oc=oc+1
olist=[None]*oc
elist=[None]*ec
e=0
o=0
for i in range(0,len(array)):
  if(i%2==0):
    elist[e]=array[i]
    e=e+1
  else:
    olist[o]=array[i]
    o=o+1
print(olist)
print(elist)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [19]:
#Write a python program to sort array elements in ascending or descending order.
array=[1,2,3,1,4,9,6,11,7,4,3,11,5,2,5,7,9]
for i in range(0,len(array)):
  for j in range(i+1,len(array)):
    if(array[i]>array[j]):
      temp=array[i]
      array[i]=array[j]
      array[j]=temp
print(array)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 7, 9, 9, 11, 11]