<a href="https://colab.research.google.com/github/zahid-bracu/problem-solving-in-python/blob/main/string_problem_solving_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
#iterate over a string
string="database"
for s in string:
  print(s+":"+chr(ord(s)-32))

d:D
a:A
t:T
a:A
b:B
a:A
s:S
e:E

In [37]:
#Write a python program to find length of a string.(1)
string="Database"
count=0
for s in string:
  count=count+1
print("Count : "+str(count))

Count : 8

In [38]:
#Write a python program to print a string symbol by symbol.(2)
string="Database"
count=0
for s in string:
  print('The Character "'+s+'" is in index at '+str(count))
  count=count+1

The Character "D" is in index at 0
The Character "a" is in index at 1
The Character "t" is in index at 2
The Character "a" is in index at 3
The Character "b" is in index at 4
The Character "a" is in index at 5
The Character "s" is in index at 6
The Character "e" is in index at 7

In [39]:
#reverse over a string.(3)
string="Database"
revString=""
for i in range(0,len(string)):
  revString=string[i]+revString
print(revString)

esabataD

In [40]:
#Write a python program to copy one string to another string.(4)
string="Database"
anotherString=""
for i in range(0,len(string)):
  anotherString=anotherString+string[i]
print(anotherString)

Database

In [41]:
#Write a python program to convert lowercase string to uppercase.(5)
string="database"
upperString=""
for s in string:
  ch=chr(ord(s)-32)
  upperString=upperString+ch
print(upperString)

DATABASE

In [42]:
#Write a python program to convert uppercase string to lowercase.(6)
string="DATABASE"
lowerString=""
for s in string:
  ch=chr(ord(s)+32)
  lowerString=lowerString+ch
print(lowerString)

database